body {
  padding: 0px;
  background: #fff;
}
section {
  padding: 60px 10px 0px 10px;
  min-height: 360px;
}

#number-container{
  position: absolute;
  left: 60%;
  top: 20%;
  color: rgba(153, 0, 0, 0.8);
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
  font-size:30px;
  font-weight:500;
  z-index:9999;
  font-family: 'Roboto Condensed', sans-serif;
}

.count{
    font-size:50px;
    font-family:Lato, sans-serif;
}

.navbar-header {
  background: #fff;
}

section,
section a {
  color:#333333;
  text-decoration:none;
}

section {
  background:rgba(34,34,34,0.2);
}
section {
  background:#fff;
  color:#333333;
}
section small { color:#aaa; }


@media (min-width:768px) {
  body {
    margin:0px;
    background:#fff;
  }
  article {
    width:50%;
    min-width:320px;
    position:relative;
    z-index:21;
  }
  section {
    padding:40px;
    padding-left: 60px;
    position:relative;
    transition:background 500ms, color 500ms;
    -moz-transition:background 500ms, color 500ms;
    -webkit-transition:background 500ms, color 500ms;
  }
  section,
  section a {
    color:#888;
    text-decoration:none;
  }
  section {
    background:rgba(34,34,34,0.2);
  }
  section.active {
    background:#fff;
    color:#333333;
    opacity: 1;
  }
  section.active a { color:#333333; }
  section.active small { color:#aaa; }

.scroll {
  position:absolute;
  right:0px; bottom:0px;
  font-size:10px;
  text-transform:uppercase;
  padding:5px 10px;
}
.colophon {
  display:block;
  margin-top:10px;
}

#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:40%;
  z-index:20;
}

#map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:250%;
  left:-150%;
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
}


/* Distinguish the "cover page" visually other sections. */
body.section-0 #map { opacity:1; }
}

@media (min-width:1280px) {
  body {
    font-size:18px;
    line-height:24px;
  }
}

.attribution {
  position: absolute;
  right:0;
  bottom:0;
  z-index: 9999;
  margin: 0 10px;  
  font-size: x-small;
  color: #78787d;
}
.attribution a {    
  text-decoration: none;
  cursor: pointer;
  color: #6d6e70;
}

.logos {
  width: 100%;

}
.logos-img{
  margin: 0px auto 16px auto;
  border-radius: 5px;
  max-height:100px;
  background: #ffffff;
}


.glyphicon-large {
  font-size: 20px;
  color: #ed1b2e;
}
.color-red {
  color: #ed1b2e;
}
.color-blue {
  color: #0091CD;
}
.color-green {
  color: #537B35;
}
.color-khaki {
  color: #E2D7AC;
}
.section-indent{
  margin-left: 16px;
}

.quickNav {
  position: absolute;
  top: 5px;
  left: 5px;
  visibility: hidden;

}

.btn-quickNav{
  background: #484848;
  background: transparent;
}

.quickNav .dropdown-menu {
  background: #484848;
  padding: 10px;

}
.quickNav .dropdown-menu a {
  text-shadow: none !important;
}

.active .quickNav {
  visibility: visible;
}

.modal-content-img {
  background: #000;
  border-radius: 0px;
}
.modal-80 {
  width: 80%;
}
.modal-body-img { 
   padding: 20px; 
}
.modal-img {
  margin-left: auto;
  margin-right: auto;
}
.modalLink {
  padding: 0px 12px 12px 12px;
  cursor: pointer;
}
.header-name {
  margin-top: 0px;
}
.modalLink-half {
  width: 49%;
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.modalLinkImg {
/*  border: 1px solid #222222;*/
  margin-left: auto;
  margin-right: auto;
}
.close-imgModal {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.8;
  color: white;
  font-size: 26px;
}
.close-imgModal:hover{
  color:white;
}

.img-double-sm {
  max-width: 49%;
  vertical-align: baseline;
/*  border: 1px solid #2f2f2f;*/

}