/*--- Colours ---*/
/*rgba(153, 0, 0, 0.8);*/
body {
  padding: 0px;
  background: none;
  font-family: 'Muli', sans-serif;
  line-height: 1.5;
  font-size: 15px;
}
/*----------------------------------- Sections -------------------------------*/
div:last-child {
  padding-bottom: 1em;
}
h2 {
  font-size: 2em;
  font-weight: lighter;
  padding-top: 1em;
}
h2 + p {
  padding-top: 1.5em;
}
h3 {
  padding-bottom: 1em;
}
section {
  padding: 30px;
  min-height: 360px;
  background: #fff;
  color: #333;
  position: relative;
  transition: background 500ms, color 500ms;
  -moz-transition: background 500ms, color 500ms;
  -webkit-transition: background 500ms, color 500ms;
}
section,
section a {
  color: #333;
  text-decoration: none;
}
section small {
  color: #999;
}
/*section.active {
    background: @colour-active-backgr;
    color: @colour-body-text;
    opacity: 1;
}*/
/*section.active a {
    color: @colour-body-text;
}

section.active small {
    color: @colour-secondary;
}*/
section img {
  padding: 2em 0 2em 0;
}
#title {
  text-align: center;
  padding: 2em 0 2em 0;
}
#instructions {
  color: #999;
}
/* --------------------------- DEVICES ----------------------------------------*/
article {
  z-index: 21;
}
#pane {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 0;
}
#map {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
}
/* Distinguish the "cover page" visually other sections. */
body.section-0 #map {
  opacity: 1;
}
.mapboxgl-canvas {
  z-index: 0;
}
.transparent-map {
  /*height:100vh;*/
  background-color: rgba(0, 0, 0, 0.2);
}
.transparent-map img {
  /*height:100vh;
    width:100%;
    overflow: hidden;*/
  z-index: 30;
  /*pane is at 0 and numbers are at 9999*/
}
@media (min-width: 1279px) {
  section {
    padding: 50px;
  }
}
@media (min-width: 768px) {
  article {
    width: 55%;
    min-width: 320px;
    position: relative;
    z-index: 21;
  }
  .scroll {
    text-align: center;
    bottom: 0px;
    font-size: 1em;
    text-transform: uppercase;
    padding: 2em;
    color: darkred;
  }
  /*container for map*/
  #pane {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 45%;
    z-index: 20;
  }
}
/*--------------------------- Map comments @bottom ------------------*/
.attribution {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9999;
  margin: 0 10px;
  font-size: x-small;
  color: #999;
}
.attribution a {
  text-decoration: none;
  cursor: pointer;
  color: #999;
}
/*------------------------------ Logos -----------------------------*/
.logos {
  width: 100%;
}
.logos-img {
  margin: 0px auto 16px auto;
  border-radius: 5px;
  max-height: 100px;
  background: #fff;
}
/*------------------------------ Icons -----------------------------*/
.glyphicon-large {
  font-size: 20px;
  color: #ed1b2e;
}
.color-red {
  color: #ed1b2e;
}
.section-indent {
  margin-left: 16px;
}
/*------------------------------ Nav -----------------------------*/
text {
  z-index: 9999;
}
.navbar-header {
  background: #fff;
}
#navigation {
  background-color: none;
  position: fixed;
  z-index: 9999;
  height: 100%;
}
#navigation svg {
  padding: 15px;
  height: 95vh;
}
#navigation circle:hover {
  fill: #fff;
}
/*----------------------- numbers ---------------------*/
.number-container {
  position: absolute;
  color: #5e5e5e;
  transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
  font-size: 2.5em;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  padding-bottom: 2em;
  z-index: 9999;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
#in-need {
  left: 20%;
  top: 20%;
}
#food-need {
  left: 20%;
  top: 30%;
  font-size: 2em;
}
/* styling numbers */
.count {
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 100px;
}
/*------------------------- Content layout ----------------------*/
.modal-content-img {
  background: #fff;
  border-radius: 0px;
}
.modal-80 {
  width: 80%;
}
.modal-body-img {
  padding: 20px;
}
.modal-img {
  margin-left: auto;
  margin-right: auto;
}
.modalLink {
  padding: 0px 12px 12px 12px;
  cursor: pointer;
}
.header-name {
  margin-top: 0px;
}
.modalLink-half {
  width: 49%;
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.modalLinkImg {
  /*  border: 1px solid #222222;*/
  margin-left: auto;
  margin-right: auto;
}
.close-imgModal {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.8;
  color: white;
  font-size: 26px;
}
.close-imgModal:hover {
  color: white;
}
.img-double-sm {
  max-width: 49%;
  vertical-align: baseline;
}
/* Disable these awful hyperlink colours*/
a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
  outline: 0;
}
a:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #88CFE9;
  text-decoration: none;
}
a:focus {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #e6f0ff;
  text-decoration: none;
}